{
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"jsx-single-quote": false,
	"singleAttributePerLine": true,
	"proseWrap": "preserve",
	"printWidth": 85
}
