$purple-700: #362942;
$purple-300: #d8affe; /*Original*/
$purple-300: #e3cafa;

$white: #e6e6e6;

$grafitti00: #5c5a5e;
$grafitti0: #302e31;
$grafitti: #2b252e;
$purple: #7c31a1;
$blue: #262ea0;

::selection {
	background-color: $purple-300;
	color: $purple-700;
}

::-webkit-scrollbar {
	width: min(1rem, 2vw);
}

::-webkit-scrollbar-track {
	background: $purple-300;
}

::-webkit-scrollbar-thumb {
	background-color: $purple-700;
	border-radius: 0.25rem;
}
