<section>
  <h2 class="title--small">My Articles</h2>
  <ul>
    <li>
      <h3 class="title--extra-small">Article title</h3>
      <p><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aut repellendus dolores excepturi cumque quidem. Modi, numquam explicabo dolore debitis quae alias quibusdam facere ab ipsum voluptatibus eius tempore eveniet, officiis vel deleniti corrupti reprehenderit maxime voluptatum hic eum dolores voluptatem? Quaerat odio fugiat debitis commodi, doloribus in temporibus excepturi.</p>
    </li>
    <li>
      <h3>Article title</h3>
      <p><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aut repellendus dolores excepturi cumque quidem. Modi, numquam explicabo dolore debitis quae alias quibusdam facere ab ipsum voluptatibus eius tempore eveniet, officiis vel deleniti corrupti reprehenderit maxime voluptatum hic eum dolores voluptatem? Quaerat odio fugiat debitis commodi, doloribus in temporibus excepturi.</p>
    </li>
    <li>
      <h3>Article title</h3>
      <p><span>Summary:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aut repellendus dolores excepturi cumque quidem. Modi, numquam explicabo dolore debitis quae alias quibusdam facere ab ipsum voluptatibus eius tempore eveniet, officiis vel deleniti corrupti reprehenderit maxime voluptatum hic eum dolores voluptatem? Quaerat odio fugiat debitis commodi, doloribus in temporibus excepturi.</p>
    </li>
  </ul>
  <a class="regular-text--small--bold" href="#">View all</a>
</section>
<style lang="scss">
  @use "../../styles/style.scss" as *;
  
  section{
    color: $white;
  }
</style>