---
/* import animation from "/lottieAnimations/PXSgcT8sNU.json"  */
---
<section>
  <h1>Hi, my name is Caio Marcellus.<span>Welcome to my portfolio</span></h1>
  <lottie-player 
    src="/lottieAnimations/GqCqYx1atO.json" 
    background="transparent"  
    speed="1"  
    loop
    autoplay>
  </lottie-player>
  <!-- style="width: 300px; height: 300px;"  -->
</section>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>