---
/* import animation from "/lottieAnimations/PXSgcT8sNU.json"  */
---
<section>
  <h1 class="title--small">
    Hi, my name is 
    <span class="accent-color">Caio Marcellus</span>
    <span class="title--large block">
      Welcome to my 
      <span>
        portfolio
        <!-- <svg 
          width="234" 
          height="27" 
          viewBox="0 0 234 27" 
          fill="none" 
          xmlns="http://www.w3.org/2000/svg">
          <path 
            id="Vector 2" 
            d="M1.1665 15.0816C8.22298 15.0816 13.4441 11.9534 20.2344 11.048C24.4769 10.4824 28.122 7.16111 32.3352 7.16111C42.2679 7.16111 51.7437 4.52094 61.8904 4.52094C80.1567 4.52094 95.3487 13.7615 113.667 13.7615C118.398 13.7615 121.389 16.4017 125.915 16.4017C130.083 16.4017 132.865 16.9928 136.475 17.7951C138.601 18.2674 139.964 20.6692 142.122 21.3887C144.632 22.2254 147.424 21.903 150.043 22.7088C153.775 23.8572 158.319 23.1627 162.217 24.0289C173.827 26.6088 191.386 25.5454 201.893 20.9487C208.515 18.0516 215.998 13.2001 222.941 11.4147C228.03 10.1059 227.398 5.86682 232.181 1.88077" 
            stroke="#E3CAFA" 
            stroke-width="2" 
            stroke-linecap="round"
          />
        </svg> -->
        <!-- width="981" height="479" -->
        <!-- <svg preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 981 479" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.71465 358.314C95.7118 578.371 941.269 464.831 977.05 260.575C1033.44 -61.3175 264.097 -32.0546 154.442 73.2922C150.38 77.1939 151.045 84.4012 154.442 82.8514C451.603 -52.7337 992.854 32.9095 947.002 260.575C894.125 434.007 27.8116 558.082 24.2994 319.296C21.9869 162.074 409.848 13.9859 690.425 61.1967C698.815 59.2458 692.21 50.7152 683.01 48.9061C382.142 -1.47829 -58.694 148.36 7.71465 358.314Z" fill="#E3CAFA"/>
  </svg> -->
      </span>
    </span>
  </h1>
  <lottie-player 
    src="/lottieAnimations/GqCqYx1atO.json" 
    background="transparent"  
    speed="1"  
    loop
    autoplay
  >
  </lottie-player>
  <p class="regular-text--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit harum veniam omnis expedita provident quaerat mollitia minus earum? Nobis maiores possimus assumenda a eum quos, atque porro fugit necessitatibus quod omnis dolor odit! </p>
  <p class="regular-text--small">Quo mollitia quod sequi obcaecati nobis similique et cum, sint ex voluptatibus ut illum pariatur, quaerat nam. Architecto doloremque doloribus officia? Exercitationem repellat sapiente quidem fugiat! Corporis unde ducimus debitis aspernatur hic cum esse quas officia dolore tenetur? Placeat tempora nihil exercitationem! Quod in est nihil commodi sed ipsam, totam voluptatibus tenetur accusamus, eum possimus cupiditate dignissimos itaque consequatur provident laborum natus tempora! Voluptate in autem nesciunt.</p>
  <p class="regular-text--small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit harum veniam omnis expedita provident quaerat mollitia minus earum? Nobis maiores possimus assumenda a eum quos, atque porro fugit necessitatibus quod omnis dolor odit! </p>
</section>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style lang="scss">
  @use "../../../styles/style.scss" as *;

  section{
    margin-bottom: max(var(--section-paddingBlock-regular), 8vw);
    /* Added vw unit becaus of lottie */
    
    color: $white;

  }

  lottie-player{
    $size: max(20vw, min(300px, 100%));
    width: $size;
    height: $size;
    margin-inline: auto;
  }

  h1{
    text-align: center;
    & .block{
      display: block
    }
    & .accent-color{
      color: $purple-300;
    }
  }

  span{
    /* display: inline-block; */

    /* position: relative;
    & svg{
      font-size: inherit;
      position: absolute;
      bottom: -.5em;
      width: 150%;
    } */
  }

  p{
    max-width: 80ch;
    margin-inline: auto;
    padding-inline: var(--text-paddingInline-regular);
  }

  * + p {
    margin-top: .75em;
  }

  @media (min-width: 40em){
    lottie-player{

      margin-right: 4vw;
      margin-bottom: 4vw;
      
      float: left;
      shape-outside: circle(50%);
    }

    p{
      padding-inline: 0;
    }
  }

</style>