---
import type { HeadingLevel } from "../../types/headingLevel";
import { techList } from "../../types/technologies";
import { normalizeString } from "../../utils/normalizeString";
import Button from "./Button.astro";

type Props = {
	headingLevel: HeadingLevel;
};

const { headingLevel } = Astro.props;
const Heading = headingLevel;
---

<div
	class="filter"
	id="filter"
	transition:animate="none"
>
	<Heading class="regular-text--medium heading">Filter by technology:</Heading>
	<ul>
		<li>
			<Button
				href={`/projects`}
				backgroundColor="pink"
				color="purple"
			>
				All
			</Button>
		</li>
		{
			techList.map((tech) => {
				return (
					<li>
						<Button
							href={`/projects/tech=${normalizeString(tech)}`}
							backgroundColor="pink"
							color="purple"
						>
							{tech}
						</Button>
					</li>
				);
			})
		}
	</ul>
</div>

<style lang="scss">
	@use "../../styles/style.scss" as *;
	.filter {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--fs-1);

		margin-bottom: var(--fs-3);

		color: $white;
	}

	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: var(--fs-1);

		color: $white;
	}

	.heading {
		text-wrap: nowrap;
	}
</style>
