<footer>
  <div class="container">

  </div>
</footer>

<style lang="scss">
  @use "../styles/style" as *;
  footer{
    position: relative;
    z-index: 1;
    
    background-color: $purple-300;

    padding-block: var(--section-paddingBlock-small);
  }
</style>