<footer id="footer">
	<div class="container">
		<div class="author">
			<h2 class="title--medium">Talk to me</h2>
			<p class="regular-text--small">
				Now that you know me a little better, Front-end Developer Lorem ipsum dolor
				sit amet consectetur adipisicing elit. Reiciendis fugiat autem placeat quod
				facere magnam debitis eos, repellendus ea ratione esse, veniam inventore
				eligendi itaque sapiente temporibus fugit earum ut.
			</p>
		</div>
		<div>
			<h3 class="title--small">You can find me on</h3>
			<ul class="social">
				<li class="regular-text--medium">
					<a
						href="https://www.linkedin.com/in/caio-marcellus-cabral"
						aria-label="LinkedIn"
					>
						<svg
							width="100"
							height="100"
							viewBox="0 0 100 100"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M66.6666 33.3333C73.297 33.3333 79.6559 35.9672 84.3443 40.6556C89.0327 45.3441 91.6666 51.7029 91.6666 58.3333V87.5H75V58.3333C75 56.1232 74.122 54.0036 72.5592 52.4408C70.9964 50.878 68.8768 50 66.6666 50C64.4565 50 62.3369 50.878 60.7741 52.4408C59.2113 54.0036 58.3333 56.1232 58.3333 58.3333V87.5H41.6666V58.3333C41.6666 51.7029 44.3005 45.3441 48.989 40.6556C53.6774 35.9672 60.0362 33.3333 66.6666 33.3333Z"
								stroke="black"
								stroke-width="4"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<path
								d="M25 37.5H8.33337V87.5H25V37.5Z"
								stroke="black"
								stroke-width="4"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
							<path
								d="M16.6667 25C21.2691 25 25 21.269 25 16.6666C25 12.0643 21.2691 8.33331 16.6667 8.33331C12.0643 8.33331 8.33337 12.0643 8.33337 16.6666C8.33337 21.269 12.0643 25 16.6667 25Z"
								stroke="black"
								stroke-width="4"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
						</svg>
					</a>
				</li>
				<li class="regular-text--medium">
					<a
						href="https://github.com/marcelluscaio"
						aria-label="Github"
					>
						<svg
							width="100"
							height="100"
							viewBox="0 0 100 100"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M37.5 79.1668C16.6667 85.4168 16.6667 68.7501 8.33337 66.6668M66.6667 91.6668V75.5418C66.823 73.5549 66.5546 71.5576 65.8793 69.6826C65.204 67.8075 64.1372 66.0977 62.75 64.6668C75.8334 63.2084 89.5834 58.2501 89.5834 35.5001C89.5823 29.6827 87.3446 24.0884 83.3334 19.875C85.2328 14.7855 85.0985 9.15982 82.9584 4.16669C82.9584 4.16669 78.0417 2.70836 66.6667 10.3334C57.1167 7.74512 47.05 7.74512 37.5 10.3334C26.125 2.70836 21.2084 4.16669 21.2084 4.16669C19.0683 9.15982 18.934 14.7855 20.8334 19.875C16.7922 24.1196 14.5522 29.7645 14.5834 35.6251C14.5834 58.2084 28.3334 63.1668 41.4167 64.7918C40.0459 66.2083 38.9886 67.8976 38.3138 69.7498C37.639 71.6019 37.3617 73.5754 37.5 75.5418V91.6668"
								stroke="black"
								stroke-width="4"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
						</svg>
					</a>
				</li>
				<li class="regular-text--medium">
					<a
						href="mailto:ocaiocabral@gmail.com"
						aria-label="Email"
					>
						<svg
							width="100"
							height="100"
							viewBox="0 0 100 100"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<g clip-path="url(#clip0_7_33)">
								<path
									d="M98.5712 0.5C98.0524 0.165625 97.4618 0 96.8743 0C96.2712 0 95.6649 0.171875 95.1399 0.525L1.38993 63.025C0.424304 63.6656 -0.106946 64.7938 0.0180536 65.95C0.136804 67.1031 0.886804 68.1 1.96493 68.525L26.4149 78.3094L37.9118 98.4281C38.4618 99.3938 39.4837 99.9906 40.5899 100.003C40.6024 100.003 40.6118 100.003 40.6243 100.003C41.7212 100.003 42.7399 99.4219 43.3024 98.4844L49.7931 87.6625L80.0899 99.7781C80.4618 99.9281 80.8524 100 81.2493 100C81.7806 100 82.3056 99.8656 82.7806 99.5969C83.6056 99.1344 84.1712 98.3219 84.3306 97.3875L99.9556 3.6375C100.159 2.40938 99.6149 1.17813 98.5712 0.5ZM9.7993 64.9281L82.2212 16.6438L29.5649 73.0094C29.2868 72.8438 29.0399 72.625 28.7337 72.5031L9.7993 64.9281ZM31.8399 75.2063C31.8337 75.1938 31.8243 75.1875 31.8181 75.175L91.0149 11.8156L40.5493 90.4469L31.8399 75.2063ZM78.8024 92.5281L52.1118 81.8531C51.4774 81.6031 50.8181 81.5188 50.1649 81.4813L91.2649 17.7688L78.8024 92.5281Z"
									fill="black"
								></path>
							</g>
							<defs>
								<clipPath id="clip0_7_33">
									<rect
										width="100"
										height="100"
										fill="white"
									></rect>
								</clipPath>
							</defs>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<nav>
			<h3 class="title--small">Did you see it all?</h3>
			<ul>
				<li class="regular-text--medium">
					<a href="#"> About</a>
				</li>
				<li class="regular-text--medium">
					<a href="#"> Projects</a>
				</li>
				<li class="regular-text--medium">
					<a href="#"> Articles</a>
				</li>
				<li class="regular-text--medium">
					<a href="#"> Talk to me</a>
				</li>
			</ul>
		</nav>
		<span class="copyright regular-text--small"
			>© Copyright 2023 - Created by <a href="#">Caio Marcellus</a> using Astro and
			Sass.</span
		>
	</div>
</footer>

<style lang="scss">
	@use "../styles/style" as *;

	footer {
		position: relative;
		z-index: 4;

		padding-block: var(--section-paddingBlock-large)
			var(--section-paddingBlock-small);

		background-color: $white;

		color: $purple-700;
	}

	.container {
		display: grid;
		column-gap: var(--section-paddingBlock-small);
		row-gap: var(--section-paddingBlock-regular);

		& > * {
			text-align: center;
		}

		& p {
			text-align: left;
		}
	}

	.author {
		max-width: 80ch;
		justify-self: center;
		& > * + p {
			margin-top: 1em;
		}
	}

	h3 {
		margin-bottom: 0.5em;
	}

	.social {
		display: flex;
		justify-content: center;
		--gap: var(--fs-6);
		gap: var(--gap);
		flex-wrap: wrap;
	}

	.social li {
		position: relative;
	}

	.social li::after {
		content: "";

		display: block;

		position: absolute;
		top: 50%;
		right: calc(var(--gap) / -2);
		transform: translate(50%, -50%);

		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;

		background-color: $purple-700;
		opacity: 0.75;
	}

	.social li:last-child::after {
		display: none;
	}

	li svg {
		width: var(--fs-6);
		margin-inline: auto;
	}

	nav li + li {
		margin-top: 0.75em;
	}

	.copyright {
		text-align: center;
	}

	@media (min-width: 60em) {
		.container {
			grid-template-columns: repeat(2, 1fr);

			row-gap: calc(var(--section-paddingBlock-large) * 1.25);
		}

		nav ul {
			display: flex;
			justify-content: center;
			--gap: var(--fs-3);
			column-gap: var(--gap);
			row-gap: var(--fs-3);
		}

		nav li + li {
			margin-top: 0;
		}

		nav li {
			position: relative;
			text-wrap: nowrap;
		}

		nav li::after {
			content: "";

			display: block;

			position: absolute;
			top: 50%;
			right: calc(var(--gap) / -2);
			transform: translate(50%, -50%);

			width: 0.5rem;
			height: 0.5rem;
			border-radius: 50%;

			background-color: $purple-700;
			opacity: 0.75;
		}

		nav li:last-child::after {
			display: none;
		}

		.author,
		.copyright {
			grid-column: span 2;
		}
	}
</style>
