---
import { Image } from "astro:assets";

import logo from "../assets/images/Caio.jpg";
---

<header>
	<div class="container">
		<nav>
			<ul>
				<li class="logo__list-item">
					<a
						class="title--small"
						href="/"
						aria-label="Link to home"
					>
						<Image
							src={logo}
							alt="Picture of the author smiling with a bluen and purple background"
							class="logo"
						/>
						<span>Caio Marcellus</span>
					</a>
				</li>
				<li class="burger-button">
					<button
						aria-label="hamburger button"
						aria-expanded="false"
					>
						<div></div>
						<div></div>
						<div></div>
					</button>
				</li>
				<li class="navigation-items">
					<ul>
						<li>
							<a
								class="regular-text--medium"
								href="/#about"
								>About</a
							>
						</li>
						<li>
							<a
								class="regular-text--medium"
								href="/#projects"
								>Projects</a
							>
						</li>
						<li>
							<a
								class="regular-text--medium"
								href="/#articles"
								>Articles</a
							>
						</li>
						<li>
							<a
								class="regular-text--medium"
								href="/#footer"
								>Talk to me</a
							>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>

<script>
	import {
		toggleMenu,
		setTabindex,
		updateTabindexBasedOnButtonDisplay,
	} from "../utils/toggleMenu.ts";
	document.addEventListener("astro:page-load", () => {
		const buttonParent = document.querySelector(".burger-button");
		const button = buttonParent?.querySelector(".burger-button button");
		const menu = document.querySelector(".navigation-items");
		const links = menu?.querySelectorAll("a");

		updateTabindexBasedOnButtonDisplay(buttonParent, links);

		window.addEventListener("resize", () =>
			updateTabindexBasedOnButtonDisplay(buttonParent, links),
		);

		button?.addEventListener("click", () => {
			toggleMenu(menu, links);
		});
	});
</script>

<style lang="scss">
	@use "../styles/style" as *;

	$bg-color: $purple-700;

	header {
		position: relative;
		z-index: 3;

		padding-block: var(--section-paddingBlock-small);

		color: $white;
	}

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--fs-3);
	}

	a {
		display: inline-block;
	}

	.logo__list-item {
		a {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: calc(var(--fs-1) / 2);
			.logo {
				width: $logo-size;
				height: $logo-size;
				object-fit: cover;
				object-position: top 30% left 0;
				border: 2px solid $white;

				border-radius: 50%;
			}
			span {
				background-color: $bg-color;

				font-size: var(--fs-1);
				line-height: 1;
				text-transform: uppercase;
			}
		}
	}

	.burger-button {
		flex-shrink: 0;

		& button {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			--line-size: 0.125rem;
			gap: calc(var(--line-size) * 2);

			--size: max(7vw, 2.25rem);
			min-width: var(--size);
			min-height: var(--size);
			padding: calc(var(--line-size) * 2);
			border-radius: 50%;

			background-color: transparent;

			& div {
				width: 70%;
				height: var(--line-size);
				border-radius: calc(var(--line-size) / 2);

				background-color: $white;
			}
		}
	}

	.navigation-items {
		position: absolute;
		background-color: $white;
		color: $purple-700;
		bottom: 100%;
		right: 100%;
		min-width: 70%;
		padding: var(--fs-2) var(--fs-6) calc(var(--fs-6) * 1.5) var(--fs-4);
		border-radius: 0 0 100vmax 0;

		transition: transform 0.3s ease-in;

		ul {
			flex-direction: column;
			align-items: flex-start;
		}

		&.open {
			transform: translateX(100%) translateY(100%);
		}
	}

	@media (min-width: 40em) {
		.logo__list-item {
			a {
				display: inline-block;

				position: relative;
				span {
					display: inline-block;

					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateY(4vh) translateX(-50%);

					padding-bottom: 0.75em;

					writing-mode: tb;
					text-wrap: nowrap;
					text-orientation: upright;
					letter-spacing: -0.4em;
				}
			}
		}

		.burger-button {
			display: none;
		}

		.navigation-items {
			position: unset;
			background-color: transparent;
			color: unset;
			top: unset;
			left: unset;
			min-width: unset;
			padding: unset;
			border-radius: 0 0 100vmax 0;

			transform: none;

			transition: none;

			ul {
				flex-direction: row;
				align-items: flex-start;
			}
		}
	}
</style>
