---
import { Image } from "astro:assets";
import logo from "../assets/images/Caio.jpg"
---

<header>
  <div class="container">
    <nav>
      <ul>
        <li>
          <a class="title--small" href="#">
            <Image
              src={logo}
              alt="Picture of the author smiling with a bluen and purple background"  
              class="logo"
              />
            <span>Caio Marcellus</span>
          </a>
        </li>
        <li>
          <a class="regular-text--medium" href="#" >About</a>
        </li>
        <li>
          <a class="regular-text--medium" href="#">Projects</a>
        </li>
        <li>
          <a class="regular-text--medium" href="#">Articles</a>
        </li>
        <li>
          <a class="regular-text--medium" href="#">Talk to me</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
@use "../styles/style" as *;

$bg-color: $purple-700;

header{
  padding-block: var(--section-paddingBlock-small);
  
  background-color: $bg-color;

  color: $white
}

ul{
  display: flex;
  align-items: center;

  gap: var(--fs-3);
}

.logo{
  --size: 15vw;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  object-position: top 30% left 0;
  
  border-radius: 50%
}

a{
  display: inline-block;  
}


</style>