---
import "../styles/reset.css";
import "../styles/style.scss";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="vertical-lign container"></div>
		<Header/>
		<main>
			<slot />

		</main>
		<Footer/>
	</body>
</html>

<style lang="scss">
	@use "../styles/style" as *; 
	
	body{
		position: relative;

	}
	
	.vertical-lign{
		position: absolute;
		inset: 0;
		
		$line-size: 4px;
		$start: calc(($logo-size/2) - ($line-size / 2));
		$end: calc($start + $line-size);
		$start-horizontal: calc((var(--section-paddingBlock-small) + $logo-size/4) - ($line-size / 4));
		$end-horizontal: calc($start-horizontal + ($line-size/2));
		

		pointer-events: none;

		@media (min-width: 40em) {
			background-image:
				linear-gradient(to right, $purple-700 3vw, transparent calc(3vw + 1px)),
				linear-gradient(to right, transparent calc($start - 1px), $white $start, $white $end, transparent calc($end + 1px)), 
				linear-gradient(to bottom, transparent calc($start-horizontal - 1px), $white $start-horizontal, $white $end-horizontal, transparent calc($end-horizontal + 1px)),
				;
		}
	}

	main{
		background-color: $purple-700;
		height: 100vh;
		/*Trar essa height*/
	}
</style>
